alias ll="ls -aFlh --group-directories-first --color=auto"
alias rm="rm -i"
alias cp="cp -i"
alias ls="ls --color=auto"
alias l="ls -ail --color=auto"
alias cl="clear"
alias i="sudo apt-get install"
alias acs="apt-cache search"
alias uu="sudo apt-get update; sudo apt-get upgrade"
alias s="sudo"
alias cvs="cvs -z3"
alias reboot="shutdown -r now"
alias cd..="cd .."
alias rg="rgrep --color -ns"
# alias rs="bundle exec rails s"
alias ts="RAILS_ENV=production RUBY_GC_MALLOC_LIMIT=90000000; LD_PRELOAD=/usr/lib/libtcmalloc_minimal.so.4 bundle exec thin start -p 3000"
alias rs="RAILS_ENV=production RUBY_GC_MALLOC_LIMIT=90000000; LD_PRELOAD=/usr/lib/libtcmalloc_minimal.so.4 bundle exec rails s"
alias rc="bundle exec rails c"
alias bbb="
          echo '\e[0;36mrun: bundle install... \e[0m';
          bundle install;
          echo '\e[0;36mrun: bundle exec rails rake db:migrate... \e[0m';
          bundle exec rake db:migrate;
          echo '\e[0;36mrun: bundle exec rake db:test:prepare... \e[0m';
          bundle exec rake db:test:prepare;
          echo '\e[0;36mrun: bundle exec rails s (with gc-malloc-settings)... \e[0m';
          rs
          "
alias smg="/home/s/bin/smartgithg-4_5_6/bin/smartgithg.sh --open ."

# do a du -hs on each dir on current path
alias lsdir="for dir in *;do;if [ -d \$dir ];then;du -hsL \$dir;fi;done"

if [ -x /usr/libexec/mc/mc-wrapper.sh ]
then
	alias mc='. /usr/libexec/mc/mc-wrapper.sh'
fi

alias x11="ssh svenmahl@x11.informatik.uni-bremen.de"
