alias ll="ls -aFlh --group-directories-first --color=auto"
alias rm="rm -i"
alias cp="cp -i"
alias ls="ls --color=auto"
alias l="ls -aFlh --group-directories-first --color=auto --time-style=+'%d.%m.%Y %H:%M:%S'"
alias cl="clear"
alias i="sudo apt-get install"
alias acs="apt-cache search"
alias uu="sudo apt-get update; sudo apt-get upgrade"
alias aptclean="s apt-get check; s apt-get clean; s apt-get autoremove"
alias s="sudo"
alias cvs="cvs -z3"
alias reboot="shutdown -r now"
alias cd..="cd .."
rg () {rgrep --color -ns $1 .}
rrg () {rgrep --color -insTI -A3 -B2 --exclude-dir={log,tmp,app/assets/fonts} $1 .}

# alias rs="bundle exec rails s"
if [[ -e "/usr/lib/libtcmalloc_minimal.so.?" ]]; then
	malloc=`ls /usr/lib/libtcmalloc_minimal.so.?`
fi
alias ts="RAILS_ENV=development RUBY_GC_MALLOC_LIMIT=90000000; LD_PRELOAD=$malloc bundle exec thin start -p 3000"
alias rs="RAILS_ENV=development bundle exec rails s"
alias rc="bundle exec rails c"
alias rcs="bundle exec rails c --sandbox"
alias bbb="echo '\e[0;36mrun: bundle install... \e[0m';
            bundle install;
            echo '\e[0;36mrun: bundle exec rails rake db:migrate... \e[0m';
            bundle exec rake db:migrate;
            echo '\e[0;36mrun: bundle exec rake db:test:prepare... \e[0m';
            bundle exec rake db:test:prepare;
            echo '\e[0;36mrun: bundle exec rails s (with gc-malloc-settings)... \e[0m';
            rs"
alias tm="tunnelmagick"

# do a du -hs on each dir on current path
alias lsdir="for dir in *;do;if [ -d \$dir ];then;du -hsL \$dir;fi;done"

# git
alias gs="git status"
alias ga="git add"
alias gb="git branch"
alias gc="git commit"
alias gd="git diff"
alias go="git checkout"
alias gk="gitk --all&"
alias gg="git gui&"
alias gst="git stash"
alias gstp="git stash pop"
alias gl="git pull --rebase"
alias gh="git push"
alias gim="vim -p \$(git status --short | sed -n 's/^ M //p')"
