setopt ALWAYSTOEND
setopt NOTIFY
setopt AUTOLIST
setopt AUTOCD
setopt PRINTEIGHTBIT

setopt APPENDHISTORY
setopt INCAPPENDHISTORY
setopt HISTIGNORE_DUPS
setopt HISTIGNORESPACE
setopt HISTREDUCEBLANKS
setopt HISTVERIFY

DIRSTACKSIZE=11
setopt autopushd pushdminus
alias dh='dirs -v'
